<head><title>Clock by MPG</title>
<meta property="og:title" content="Clock by MPG" />
<meta property="og:url" content="https://mpg.is/clock/" />
<meta property="og:image" content="https://mpg.is/clock/static/img/clockfb.png" />
<meta property="og:description" content="A Clock that changes color based on time of day" />
<link rel="stylesheet" type="text/css" href="static/css/clock.css"></style>
<script type="text/javascript" src="static/js/clock.js"></script>
</head>
<body><canvas class="center" id="clock" height="600px" width="600px"> Clock.  </canvas></body>
